<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Aditya Kumar Singh Portfolio website</title>
	<meta name="description" content="">
	<meta name="author" content="Aditya Singh">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="fontello/css/fontello.css">
   <link rel="stylesheet" href="css/fonts.css">
   <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">












   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I am Aditya Singh</h1>
            <h3>A DevOps Evangelist by profession. I hold 6 years of experience in building, automating and delivering swift cloud infrastructure solutions. I have expertise in Amazon Web Services and most of the DevOps tools. My interest lies in automating infrastructure while maintaining security on the cloud.
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/aditya.kumar.75685"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/adirocksh"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/107574479087516589674"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.linkedin.com/in/aditya-singh-25126134/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/adirocksh/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://github.com/aditya13354"><i class="fa fa-github"></i></a></li>

            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="img/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am technology lover and keep trying to implement new ideas.I have around 6 years of IT experience and i always try to keep myself updated as industy trends.My interest lies in automating infrastructure while maintaining security on the cloud.I keep up with latest DevOps trends and best practices with focus on application performance and high availability with an eye on cost optimization too! I believe that any infrastructure setup on any Cloud platform should be such that in case of inevitable disaster we should be ready with our system within a matter of few hours.</a>

            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>671 Ushma urja apartments society</span><br>
						   <span>Noida Sector-62<br>
						         Uttar pradesh,India
                     </span><br>
						   <span>+917417550437</span><br>
                     <span>adirocksh@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="https://docs.google.com/document/d/1OOH3MPHoEXtdi_q0F149hLHTpO2EiD13/edit?usp=sharing&ouid=113976055229088314450&rtpof=true&sd=true" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   =================================================-->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Krishna Institute of engineering & Technology</h3>
                  <p class="info">bachelor in information technology<span>&bull;</span> <em class="date">July 2015</em></p>

                  <p>
                 I have completed my bachelor education in IT Engineering.I've secured 77% in B.tech. I have participated in various technical and social activity
                 during my college days.I was member of core technical & Innovation team, along with that i was member of sport and social wellfare activies.
                 I have experience of organizing various technical events at college level.
                  </p>


               </div>

            </div> <!-- item end -->



            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">



           <div class="row item">

              <div class="twelve columns">

                 <h3>EY</h3>
                 <p class="info">Senior Devops Consultant <span>&bull;</span> <em class="date">June 2019 - Present</em></p>

                 <p>
                   • Developing automation compliance product, which maintain security, governance, cost, audit compliance for major cloud service provider AWS/Azure/Google Cloud </br>
                   • Managing AWS CI/CD pipelines integrated with GitHub and Jenkins.</br>
                   • Managing Amazon AWS based Public Cloud data center and its availability.</br>
                   • Managing Container based deployment of web application on AWS using ECS/EKS</br>
                   • Managing AWS Security policies</br>
                   • Managing AWS CI/CD pipelines integrated with GitHub and Jenkins.</br>
                   • Deploying infrastructure provisioning using AWS CloudFormation. </br>
                   • Managing servers automation patching activity using AWS System Manager</br>
                   • Managing Kubernetes admin role various production cluster </br>
                   • Managing best security practices for docker/Kubernetes</br>
                   • Managing best CI/CD practices for Kubernetes based software solution </br>

                 </p>

              </div>

           </div> <!-- item end -->


           <div class="row item">

              <div class="twelve columns">

                 <h3>Globallogic</h3>
                 <p class="info">Senior Devops engineer <span>&bull;</span> <em class="date">March 2018 - June 2019</em></p>

                 <p>
                   • Managing Amazon AWS based Public Cloud data center and its availability.</br>
                   • Managing Container based deployment of web application on AWS using Elastic container services.</br>
                   • Managing AWS Security policies.</br>
                   • Managing AWS CI/CD pipelines integrated with GitHub and Jenkins.</br>
                   • Deploying infrastructure provisioning using AWS CloudFormation. </br>
                   • Managing servers automation patching activity using AWS System Manager.</br>
                   • Handling Server provisioning, Storage, Backup/Restore, Networking, Patching, Monitoring and Security in AWS Cloud.</br>
                   • Automation deployment of web application on AWS cloud using ansible, Jenkins, docker.</br>
                   • Automation backup and monitoring of AWS resources using AWS lambda functions using boto3(python).</br>
                   • Responsible for creating and managing Autoscaling EC2 instances using VPCs, and Elastic Load Balancers.</br>
                 </p>

              </div>

           </div> <!-- item end -->


            <div class="row item">

               <div class="twelve columns">

                  <h3>Sopra Steria</h3>
                  <p class="info">Devops engineer <span>&bull;</span> <em class="date">Sep 2017 - Present</em></p>

                  <p>
                  	•	Managing Amazon AWS based Public Cloud datacenter and its availability.<br>
                     •	Handling Server provisioning, Storage, Backup/Restore, Networking, Patching, Monitoring and Security in AWS Cloud.<br>
                     •	Responsible for creating and managing Autoscaling EC2 instances using VPCs, and Elastic Load Balancers.<br>
                     •	AWS monitoring, queuing & notification.<br>
                     •	Managing Identity and Access Management of AWS Instances through CA Privileged Access Manager/Xceedium.<br>
                     •	Configuring, Monitoring and Analyzing resources and logs through ICINGA, OSSEC, Qualys and Splunk.<br>
                     •	Knowledge of Configuration Management tools (such as Puppet).<br>
                     •	Responsible for System & Application Security. Continually perform reviews to ensure compliance with information security directives. Stay up-to-date with the latest vulnerabilities to proactively mitigate new threats.<br>
                     •	Key player in proper Initiation/Migration/Delivery of global IT projects and business strategies connected to datacenter virtualization and Cloud computing



                  </p>

               </div>

            </div> <!-- item end -->


            <div class="row item">

               <div class="twelve columns">

                  <h3>Tata Consultancy Services</h3>
                  <p class="info">Full Stack Developer <span>&bull;</span> <em class="date">September 2015 - September 2017 </em></p>

                  <p>
                   I am working as Full Stack Developer in life science domain.I have basic knowlwdge of lifescience domain.
                   I am working on various web and data science related projects.I have fair experience to handle cliend queries and
                   delivering projects from scratch.
                  <br>

                   <br>
                  </p>

               </div>

            </div> <!-- item end -->
         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>I am sharing my technology stack on which currently working on.I always try to improve and enhance my knowledge base,
            i am focusing various cloud technology and devops area.Apart from below mentioned technology i am also working on Big data and IOT
            Technology stack, if you have something to recommend please do share with me.

            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand linux"></span><em>Linux</em></li>
                  <li><span class="bar-expand aws"></span><em>AWS/Heroku</em></li>
						<li><span class="bar-expand node"></span><em>Jenkins</em></li>
						<li><span class="bar-expand css"></span><em>Cloud secuirty</em></li>
						<li><span class="bar-expand git"></span><em>Automation</em></li>
                  <li><span class="bar-expand sql"></span><em>Project Management</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">
      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>The will to win, the desire to succeed, the urge to reach your full potential… these are the keys that will unlock the door to personal excellence.
                           </p>
                           <cite>Confucius</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->

   <!-- footer
   ================================================== -->
   <footer>
       <section id="contact">
      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/aditya.kumar.75685"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/adirocksh"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/107574479087516589674"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.linkedin.com/in/aditya-kumar-25126134/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/adirocksh/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/aditya13354"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">

               <li>Design by <a title="Linkedin profile" href="https://www.linkedin.com/in/aditya-kumar-25126134/">Aditya Kumar Singh</a></li>

            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>
